  <!-- Footer -->
  <footer class="page-footer font-small bg-light pt-4">

      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Autoridade Fitness</h6>
            <p class="text-justify font-weight-light text-muted small">
              Como qualquer exercício físico, você assume alguns riscos para sua saúde e segurança ao praticar as práticas da Plataforma Autoridade Fitness. Consulte seu médico e siga todas as suas instruções de segurança antes de iniciar esse programa de alta intensidade que gera bastante demanda física e nutricional. Os resultados dependem do ponto inicial de cada um, dos seus objetivos e da sua dedicação. Colocar em práticas as recomendações do programa é essencial para alcançar os resultados. Mas é a dedicação, motivação e demais individualidades que irão determinar os resultados finais.
            </p>
          </div>
          <!-- Grid column -->

          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">SIGA-NOS</h6>
            <p>
              <a href="https://www.facebook.com/autoridadefitness/" class="badge badge-light">
                <img src="res/img/facebook.png" alt="Facebook" class="img-thumbail"> @autoridadefitness
              </a>
            </p>
            <p>
              <a href="https://www.youtube.com/channel/UC5oR1vo1LGgd-OEang8Aqtg" class="badge badge-light">
                <img src="res/img/youtube.png" alt="YouTube"> /autoridadefitness
              </a>
            </p>
            <p>
              <a href="https://www.instagram.com/afnoinsta/" class="badge badge-light">
                <img src="res/img/instagram.png" alt="Instagram"> @afnoinsta</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <hr class="w-100 clearfix d-md-none">

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contato</h6>
            <p>R. Comendador Rheingantz - Mont'Serrat</p>
            <p>Porto Alegre - RS, 90450-020</p>
            <p>contato@autoridadefitness.com</p>
            <p>(51) 9 82750-519</p>
        </div>

        <hr>

      </div>

      <!-- Footer Links -->
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">© 2018 Copyright:
          <a class="badge badge-light" href="https://github.com/RodrigoOlv">
            <strong> Rodrigo Oliveira</strong>
          </a>
        </p>
      </div>

      </div>
    </footer>
    <!-- Footer -->
  </body>
</html>
